aiohttp
asyncio
discord.py
requests
flask
discord
motor
python-dotenv
PyYAML
youtube-transcript-api
PyPDF2
python-docx
tqdm
pyshorteners
aiml
yt_dlp
fake-useragent
pillow
openai
PyNaCl
psutil
geopy
werkzeug>=3.0.1