aiohttp
asyncio
discord.py
requests
flask
discord
motor
python-dotenv
PyYAML
yt-dlp
youtube_search==2.1.2
youtube-search-python==1.6.6
youtube-transcript-api
PyPDF2
python-docx
tqdm
pyshorteners
aiml
yt_dlp
fake-useragent
pillow
openai
PyNaCl
psutil
geopy
werkzeug>=3.0.1
discord.py[voice]
Ffmpeg
PyNaCl
youtube-search-python
youtube_dl